<!doctype html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <title>Events</title>
</head>

<body>
  <h2>Events</h2>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date</th>
      <th>Place</th>
    </tr>
    <tr>
      <td>1</td>
      <td>予定1</td>
      <td>2024/04/01</td>
      <td>場所1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>予定2</td>
      <td>2024/04/11</td>
      <td>場所2</td>
    </tr>
    <tr style="color:chocolate">
      <td>3</td>
      <td>予定3</td>
      <td>2024/04/14</td>
      <td>場所3</td>
    </tr>
  </table>
  <footer>© 2024 Yu Takahashi</footer>
</body>

</html>