<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Currency Converter</title>
</head>

<body>
  <h1>Currency Converter</h1>
  <div style="
    margin: auto; 
    max-width: 1000px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between">
    <div style="display: flex;">
      <p>{{from_amount}}</p>
      <p style="margin-left: 15px"><b>{{from_currency.upper()}}</b></p>
    </div>
    <div style="display: flex;">
      <p>{{result}}</p>
      <p style="margin-left: 15px"><b>{{to_currency.upper()}}</b></p>
    </div>
</body>

</html>